{% extends "base.html" %}
{% load static %}
{% block content %}
    <style type="text/css">
    </style>
    <div class="container">
        <div class="my-grid d-flex flex-row">

            <p class="my-grid-item m-auto">Item: Apple</p>
            <p class="my-grid-item m-auto">Item: Apple</p>
            <p class="my-grid-item m-auto">Item: Apple</p>
            <p class="my-grid-item m-auto">Item: Apple</p>
            <span class="material-icons">add_task</span>

            <img src="{% static 'profile_image/dummy_image.png' %}" class="w-25"/>
        </div>

        <div class="my-grid d-flex flex-column mt-4">
            <p class="my-grid-item m-auto">Item: Apple</p>
            <p class="my-grid-item m-auto">Item: Apple</p>
            <p class="my-grid-item m-auto">Item: Apple</p>
            <p class="my-grid-item m-auto">Item: Apple</p>
            <p class="my-grid-item m-auto">Item: Apple</p>
            <p class="my-grid-item m-auto">Item: Apple</p>

        </div>
    </div>
{% endblock content %}
